.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  list-style-type: none;
  padding: 20px;
  margin:0;
}

.HomeTextButton {
  background-color: transparent;
  border: none;
  color: #f1f5f9;
  font-size: 15px;
  padding-left: 20px;
}

.LogoutButton {
  background-color: #4f46e5;
  color: #f8fafc;
  border: solid 0px;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 15px;
}

.headerUl {
  list-style-type: none;
  padding: 0;
}
